.contenedor {
	width: 50%;
	height: 200px;
	margin: auto;
	border:2px solid red;
	background-color: rgb(207, 255, 210);
}
.destacado {
	text-align: center;
	display: block;
	font-size: 1.2em;
	color: rgb(204, 10, 33);
}
#pointer{
	cursor: pointer;
}
#cambio-tamano{
	cursor: pointer;
}
#cambio-tamano:active{
	cursor: row-resize;
}