

body{
	background: radial-gradient(circle, #fff, #bbb);

}

.grid-container{
	background-color:#444;
	margin: 10px;
	display: grid;
	grid-template-areas: 
	"header header header"
	"aside main main"
	"aside main main"
	"aside main main"
	"aside main main"
	"footer footer footer";
	grid-template-rows:repeat(auto-fill, 1fr);
	height:92vh;
	border: 4px solid black;
}

.grid-item{
	padding: 18px;
}
.grid-footer{
	background-color: #6f9;
	grid-area: footer;
}
.grid-header{
	background-color: #f96;
	grid-area: header;
}
.grid-main{
	background-color: #96f;
	grid-area: main;
}
.grid-aside{
	background-color: #888;
	grid-area:aside;
}
ul li {
	display: inline-block;
}